*{
  box-sizing: border-box;
}
body {
  max-width: 900px;
  margin: 10px auto;
}
.parent {
  width: 100%;
  border: 1px solid black;
  overflow: auto;
}
.picture {
  width: 25%;
  border: 1px solid black;
  float: left;
}
img {
  max-width: 100%;
}
